{% extends 'base.html' %}
{% block content %}
<div class="solo-picture">
    <h2>{{picture.title}}</h2> | <h3>{{picture.artist}}</h3>
    <img src="{{picture.url}}" alt="{{picture.title}}">
</div>

<div class="comments">
    {% for comment in picture.comments.all %}
      <h3>{{ comment.name }}</h3> | <h4>{{comment.created_at}}</h4>
      <p class="message">{{comment.message}}</p>
        {%endfor%}
</div>

    <form action="{% url 'create_comment' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="picture" value="{{ picture.pk }}"/>
      <label for="name">
        <input id="name" type="text" name='name' placeholder="Name">
      </label>
      <label for="new-comment">
        <input id="new-comment" type="text" name="new-comment" placeholder="Comment">
        </label>
        <input class="comment-button" type="submit" value="submit"/>
    </form>
{% endblock %}
