body {
  background: white;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  padding-left: 10px;
  padding-bottom: 10px;
  text-shadow: 2px 5px purple, 3px 6px #21f908;
}

h2, h3, h4 {
  display: inline;
}

h4 {
  color: lightgrey;
}

header {
  border-bottom: 2px solid lightgrey;
  background-color: black;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
}

header a {
  text-decoration: none;
  color: white;
}


p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1em;
  padding-left: 5px;
}

footer {
  background: black;
  color: white;
  text-align: center;
}

.main-gallery {
  margin: 10px;
}

.search-results {
  font-size: 1em;
  text-align: center;
}

.results {
  border-bottom: 3px solid yellow;
  font-size: 1.5em;
  font-weight: 800;
}

.search-container {
  max-width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.search-pictures {
  margin: 10px;
  max-width: 100%;
}

.solo-picture {
  width: 60%;
  margin: 0 auto;
  border: 2px solid;
  padding: 10px;
}

.comments {
  width: 50%;
  margin: 0 auto;
}

.message {
  padding-left: 5px;
  border: 1px dashed;
  padding: 10px;
  margin-top: 0;

}

input[type=text], select {
width: 25%;
padding: 12px 20px;
margin: 10px auto;
display: block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}

.comment-button {
  width: 10%;
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 10px auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
}


@media only screen and (min-width: 768px) {

.main-gallery {
  display: grid;
  grid-gap: 1.5em;
  grid-template-columns: 1fr 1fr;
  }

}

@media only screen and (min-width: 992px) {

  .main-gallery {
    display: grid;
    grid-gap: 1.5em;
    grid-template-columns: 1fr 1fr 1fr;
    }
}
