body {
  background: white;
  margin: 0;
}

img {
  max-width: 100%;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  padding-left: 10px;
  padding-bottom: 10px;
  text-shadow: 2px 5px purple;
}

header {
  border-bottom: 2px solid lightgrey;
  background-color: black;
  color: white;
  padding: 10px;
}



p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1em;
  padding-left: 5px;
}

footer {
  background: black;
  color: white;
  text-align: center;
}

.main-gallery {
  margin: 10px;
}

.search-results {
  font-size: 1em;
  text-align: center;
}

.results {
  border-bottom: 3px solid yellow;
  font-size: 1.5em;
  font-weight: 800;
}

.search-container {
  max-width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.search-pictures {
  margin: 10px;
  max-width: 100%;
}


@media only screen and (min-width: 768px) {

.main-gallery {
  display: grid;
  grid-gap: 1.5em;
  grid-template-columns: 1fr 1fr;
  }

}

@media only screen and (min-width: 992px) {

  .main-gallery {
    display: grid;
    grid-gap: 1.5em;
    grid-template-columns: 1fr 1fr 1fr;
    }
}
